@font-face {
    src: url("../fonts/FontAwesome.otf");
    font-family: FontAwesome;
}

body {
    font-family: 'Open Sans';
    height: Calc(100% - 100px);
}

a.nav-link {
    -webkit-transition-duration: .10s;
    -moz-transition-duration: .10s;
    -ms-transition-duration: .10s;
    -o-transition-duration: .10s;
    transition-duration: .10s;
}

a.nav-link:hover {
    color: #e8521e !important;
}

.menu-item-hero {
    line-height: 18px !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
    margin-right: 55px !important;
}

.margin-header-hero {
    margin-top: 5px !important;
    margin-bottom: 12px !important;
}

.header-divider {
    width: 310px;
}

.item-divider {
    width: 120px;
}

.ui.small.image.header-logo {
    width: 210px !important;
}

.ui.small.image.header-logo img {
    display: block;
    max-width: 219px;
    height: 46px;
    margin-top: 3px;
}

.sidebarmenu-button {
    margin-left: 9px;
    width: 27px !important;
    margin-top: -39px !important;
}

.telephone-button {
    width: 24px !important;
}

.contact-header {
    margin-left: -25px !important;
    line-height: 18px !important;
}

.header-telephone {
    font-size: 19px;
    font-weight: 400;
}

.text-contact-header {
    color: #e8521e;
    font-weight: bold;
}

.telephone-button img {
    width: 24px;
}

.contact-image-header {
    margin-left: -17px !important;
}

.subheader-container {
    height: 500px;
    max-height: 500px;
    margin-top: 90px;
}

.subheader {
    height: 100%;
    background: #fff url(../images/bg-image.jpg) no-repeat 50% 20%;
    background-size: cover;
    position: relative;
}

.paragraph-theme-color {
    color: #e8521e;
}

.subheader-content {
    position: absolute;
    top: 15%;
    left: 17.5%;
}

.subheader-content h3 {
    font-size: 70px;
    font-weight: 800;
    line-height: 75px;
    color: #000;
}

.subheader-button {
    margin-top: 50px;
}

.subheader-button button {
    background: #e8521e;
    color: #fff;
    border: none;
    padding: 16px 60px;
    font-size: 18px;
    font-weight: 800;
    font-family: 'Open Sans';
    transition-duration: .25s;
}

.subheader-button button:hover {
    background: #000;
}

.subheader-button button:hover {
    cursor: pointer;
}

.subheader-button button:focus {
    outline: none;
}

.ui.secondary.menu {
    height: 94px;
    z-index: 9999;
    background: #fff;
    width: 100%;
    position: fixed;
    top: 0;
}

.body-content {
    margin-top: 50px;
}

.search-services {
    border: none;
    border-bottom: 2px solid rgba(158, 158, 158, 0.5);
    width: 100%;
    padding: 1px 10px 16px 69px;
    font-size: 27px;
    background: url(../images/cerca.png) no-repeat 7px 7px;
    flex-grow: 2;
}

.search-services:focus {
    outline: none;
}

.search-services-form {
    display: flex;
    flex-direction: row;
}

.search-services-button {
    border: none;
    background: transparent;
    margin-left: -130px;
    font-size: 20px;
    color: #000;
    font-weight: bold;
    margin-bottom: 16px;
    visibility: hidden;
}

.search-services-button:hover {
    cursor: pointer;
}

.search-services-button:focus {
    outline: none;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #898989;
}

input::-moz-placeholder { /* Firefox 19+ */
    color: #898989;
}

input:-ms-input-placeholder { /* IE 10+ */
    color: #898989;
}

input:-moz-placeholder { /* Firefox 18- */
    color: #898989;
}

.information-tab {
    background: #ecf1f5;
    margin-top: 40px;
    margin-bottom: 40px;
}

.information-heading,
.tab-heading {
    font-weight: bold;
    margin-bottom: 60px;
    color: #000;
}

#information-tab-list {
    list-style-type: none;
}

.information-tab-item {
    margin-top: 35px;
    font-weight: bold;
    font-size: 20px;
    color: #000;
    -webkit-transition-duration: .1s;
    -moz-transition-duration: .1s;
    -ms-transition-duration: .1s;
    -o-transition-duration: .1s;
    transition-duration: .1s;
}

.information-tab-item[active=true] {
    color: #e8521e;
}

.information-tab-item:hover {
    cursor: pointer;
    color: #e8521e;
}

.information-tab-mobile {
    display: none;
    margin: 20px;
}

.information-tab-mobile .title.active h3 {
    color: #e8521e;
}

.information-tab-mobile .content {
    background: #e8521e;
    color: #fff;
    font-size: 15px;
    padding: 30px 15px;
    text-align: justify;
    transition-duration: .5s;
    opacity: 0;
    display: none;
}

.information-tab-mobile .content img {
    max-width: 50px;
    height: auto;
    margin-bottom: 10px;
}


.information-heading-mobile {
    font-weight: 800;
    font-size: 24px;
    text-align: center;
    margin-top: 50px !important;
    margin-bottom: 20px;
    color: #000;
}

.information-tab-mobile .content.active {
    opacity: 1;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.2s 0s, visibility 0s 0s;
    transition: opacity 0.2s 0s, visibility 0s 0s;
    visibility: visible;
}

.information-tab-mobile .title h3 {
    font-weight: bold;
    font-size: 17px;
}

.ui.styled.accordion, .ui.styled.accordion .accordion {
    margin: 0 auto;
}

.ui.styled.accordion .accordion .content, .ui.styled.accordion .content {
    padding: 2em 1.25em 2.5em;
}

.ui.styled.accordion .accordion .title, .ui.styled.accordion .title {
    color: #000000;
    padding: 1em;
}

.ui.styled.accordion, .ui.styled.accordion .accordion {
    background: #ecf1f5;
}

.title .dd-icon {
    float: right;
    margin-top: -20px;
}

.left-box {
    background: #ecf1f5;
    padding-top: 40px;
    padding-left: 45px;
    display: table;
    min-height: 400px;
}

.right-box {
    background: #e8521e;
    padding-top: 40px;
    padding-left: 45px;
    padding-bottom: 40px;
    display: table;
    min-height: 400px;
}

.left-image {
    float: left;
    height: 100%;
    padding-top: 6px;
    padding-left: 26px;
}

.tab-description {
    color: #fff;
    font-size: 15px;
    text-align: justify;
    padding-right: 30px;
    line-height: 28px;
}

.details-button {
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    padding: 16px 60px;
    font-weight: 800;
    margin-top: 25px;
    font-size: 17px;
    font-family: 'Open sans';
}

.details-button:focus {
    outline: none;
}

.details-button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.triangle {
    position: absolute;
    right: -25px;
    z-index: 999;
}

.tab-heading {
    text-transform: uppercase;
}

.services-container {
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
}

.services-container p {
    font-size: 20px;
}

.services-heading {
    font-weight: bold;
    margin-bottom: 25px;
    font-size: 25px;
    color: #000;
}

.ln-height-sp {
    margin-top: -14px;
}

.mgtop60 {
    margin-top: 60px;
}

.hr-hero {
    margin: 30px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.hr-hero2 {
    margin: 20px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.services-details {
    text-align: center;
}

.services-details .top {
    margin: 0 auto;
    text-align: center;
}

.services-details p {
    padding: 18px 55px 18px 55px;
    font-size: 16px;
}

.services-details .top img {
    margin-bottom: 25px;
}

.service-heading {
    font-weight: bold;
    font-size: 18px;
    color: #000;
}

.services-button {
    margin: 50px 0;
    text-align: center;
}

.services-button button {
    background: transparent;
    color: #000;
    border: 1px solid #000;
    padding: 12px 35px;
    font-size: 14px;
    font-weight: bold;
    transition-duration: 0.15s;
}

.services-button button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.services-button button:focus {
    outline: none;
}

.right-arrow {
    position: relative;
    margin-left: 40px;
}

.right-arrow img {
    position: absolute;
    top: -4px;
    left: 0;
    width: 25px;
}

.footer-content {
    margin-left: 0;
    margin-right: 0;
}

.row1-1,
.row1-3 {
    background: #f5f5f5;
    height: 300px;
}

.row1-1 {
    padding: 40px 50px;
}

.row1-3,
.row2-1,
.row2-3 {
    padding: 40px 50px;
}

.row1-1 p,
.row1-3 p,
.row2-1 p,
.row2-3 p {
    font-size: 20px;
    margin-top: 40px;
    font-weight: bold;
}

.row1-1 h2,
.row1-3 h2,
.row2-1 h2,
.row2-3 h2 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    color: #000;
}

.row1-2 {
    background: url('../images/trasparenza.jpg') no-repeat;
    height: 300px;
    background-size: cover;
}

.row2-1,
.row2-2 {
    height: 300px;
}

.row2-2 {
    background: url('../images/vantaggi.jpg') no-repeat;
    height: 300px;
    background-size: cover;
}

.row2-4 {
    background: url('../images/velocita.jpg') no-repeat;
    height: 300px;
    background-size: cover;
}

.bottom {
    height: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100% !important;
    text-align: center;
}

#dumpmap {
    height: 300px;
    background: rgba(255, 0, 0, 0.20);
}

.information-tab h2 {
    font-size: 30px;
}

.footer-details {
    margin-right: -3%;
}

.footer-details,
.footer-icons {
    padding-top: 12px;
}

.fa-2 {
    font-size: 25px !important;
}

.footer-icons i {
    padding-left: 10px;
    padding-right: 10px;
    transition-duration: .15s;
}

.footer-icons i:hover {
    cursor: pointer;
}

.footer-icons a i.fa-facebook:hover {
    color: #4867aa;
}

.footer-icons a i.fa-twitter:hover {
    color: #1da1f2;
}

.footer-icons a i.fa-linkedin:hover {
    color: #0077b5;
}

.footer-icons a i.fa-youtube-play:hover {
    color: #ff0000;
}

.footer-icons a i.fa-google-plus:hover {
    color: #dc4a38;
}

.footer-icons a {
    color: #000;
}

.navbar-nav {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.fa-3 {
    font-size: 30px !important;
    margin-top: 7px;
}

.item-hero {
    margin-right: 60px;
}

.item-hero a {
    color: #000 !important;
    font-weight: bold;
    font-size: 14px;
}

.item0 {
    min-width: 312px;
}

.item-hero.item1 {
    min-width: 125px;
}

.item-hero.item2 {
    min-width: 144px;
}

.item-hero.item3 {
    min-width: 68px;
}

.item-hero.item4 {
    min-width: 89px;
}

.item-hero.item5 {
    min-width: 170px;
}

.hero-offset-2,
.hero-offset2-2 {
    margin-left: 15.666667%;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    box-shadow: 4px -10px 9px 7px #000;
    background: #fff;
}

#map {
    height: 450px;
}

.hero-offset2-1 {
    margin-left: 8.333333%;
}

.sidebar-visible {
    z-index: 99999;
}

#cd-nav-trigger-close {
    font-size: 30px;
}

.cd-nav-top-close {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 20px;
    z-index: 999999;
    display: none;
    width: 100%;
    background: #fff;
}

.span-close-sidebar {
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
}

#cd-nav-trigger:hover {
    cursor: pointer;
}

#cd-nav-trigger-close:hover {
    cursor: pointer;
}

.overlay-sidebar {
    background: rgba(0, 0, 0, 0.45);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: none;
}

.page-container {
    position: relative;
    margin-bottom: 40px;
}

.page-container-hero {
    margin-top: 93px;
}

.hero-inner-container {
    width: Calc(100vw - 648px);
    margin-left: 338px;
    margin-right: 310px;
    padding: 15px 0;
}

.banner-chi-siamo {
    width: fit-content;
    padding: 40px 40px 80px;
    background: #e8521e;
    min-width: 465px;
}

.heading.chi-siamo {
    padding: 15px 0;
}

.heading.chi-siamo h2 {
    color: #000;
    font-weight: 800;
    font-size: 24px;
}

.chi-siamo-wrapper {
    display: flex;
    padding: 15px 0;
}

.images.chi-siamo {
    display: flex;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
}

.images.chi-siamo div {
    width: 33.333%;
    padding: 0 15px;
}

.images.chi-siamo img {
    max-width: 100%;
    height: auto;
}

.images.chi-siamo .heading {
    color: #000;
    text-align: left;
    font-size: 21px;
    font-weight: bold;
    padding-top: 15px;
}

.images.chi-siamo .description {
    color: #000;
    text-align: justify;
    padding: 10px 0 40px;
}

.chi-siamo-wrapper .description {
    padding-left: 50px;
    width: 70%;
    text-align: justify;
}

.banner-chi-siamo h2 {
    font-size: 44px;
    color: #000;
    font-weight: 800;
}

.heading-sp-w {
    color: #fff;
}

.breadcrumb-container {
    text-transform: uppercase;
    font-size: 14px;
    background: #ecf1f5;
    min-height: 63px;
    height: auto;
    padding: 30px 17%;
    margin-top: -6px;
}

.front-breadcrumb {
    font-size: 12px;
    color: #948d8d;
    font-weight: 600;
}

.main-breadcrumb {
    font-weight: bold;
    width: fit-content;
    padding: 10px 11px;
    margin-bottom: 15px;
    font-size: 14px;
    color: #000;
}

.title-breadcrumb {
    padding: 0 10px;
}

.title-breadcrumb h2 {
    font-size: 25px;
    font-weight: 800;
    color: #000;
}

.page-header-services {
    height: 77px;
    background: url(../images/fondo-pagine-interne.jpg) no-repeat;
    margin-top: -7px;
}

.tab {
    width: 360px;
    float: left;
    margin-right: 50px;
    height: 100%;
}

.tab a {
    color: #000;
}

.tab-item {
    width: 360px;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 2px solid #696969;
    text-align: left;
}

.tab-item[active=true] {
    background: #ecf1f5;
    color: #e8521e;
}

.tab-item:hover {
    cursor: pointer;
}

.tab-item img {
    width: 60px;
    height: auto;
    margin-right: 35px;
}

.tab-item-content {
    margin-left: 490px;
}

.tab-item-content .title {
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 15px;
}

.tab-item-content .description {
    text-align: justify;
    font-size: 18px;
    padding-bottom: 15px;
}

.tab-item-content li {
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-information {
    color: #000;
}

.contact-form,
.contact-information {
    padding: 15px 50px !important;
}

.contact-information i {
    color: #e8521e;
    font-size: 30px;
}

.contact-form h3,
.contact-information h3 {
    font-size: 26px;
    font-weight: 800;
    color: #000;
    margin: 15px 0 15px;
}

.contact-form p,
.contact-information p {
    font-size: 16px;
    color: #000;
    padding: 10px 0 20px 0;
    text-align: justify;
}

.contact-information a i.fa-facebook:hover {
    color: #4867aa;
}

.contact-information a i.fa-twitter:hover {
    color: #1da1f2;
}

.contact-information a i.fa-linkedin:hover {
    color: #0077b5;
}

.contact-information a i.fa-youtube-play:hover {
    color: #ff0000;
}

.contact-information a i.fa-google-plus:hover {
    color: #dc4a38;
}

.contact-information a,
.contact-information a i {
    color: #000;
}

.contact-container input,
.contact-container textarea {
    display: block;
    width: 100%;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid #b7b6b6;
    margin-bottom: 20px;
    -webkit-transition-duration: .15s;
    -moz-transition-duration: .15s;
    -ms-transition-duration: .15s;
    -o-transition-duration: .15s;
    transition-duration: .15s;
}

.contact-container input:focus,
.contact-container textarea:focus {
    outline: none;
    border-bottom: 2px solid #000;
}

.contact-container textarea {
    height: 40px;
    min-height: 40px;
    max-height: 400px;
    overflow-y: hidden;
    padding-top: 0px;
}

.contact-submit {
    display: block;
    margin-top: 10px;
    border: 2px solid #b7b6b6;
    font-size: 14px;
    background: #fff;
    padding: 15px 45px;
    color: #676464;
    font-weight: bold;
    -webkit-transition-duration: .15s;
    -moz-transition-duration: .15s;
    -ms-transition-duration: .15s;
    -o-transition-duration: .15s;
    transition-duration: .15s;
}

.contact-submit:hover {
    cursor: pointer;
    color: #fff;
    background: #000;
    border-color: transparent;
}

.contact-submit:focus {
    outline: none;
}

/*.faq-tab-container .ui.styled.accordion .accordion .content,*/
/*.faq-tab-container .ui.styled.accordion .content {*/
    /*z-index: 5;*/
    /*height: 0;*/
    /*padding: 0;*/
    /*display: block;*/
    /*text-align: justify;*/
    /*-webkit-transition: height 0.35s ease-in-out;*/
    /*-moz-transition: height 0.35s ease-in-out;*/
    /*-o-transition: height 0.35s ease-in-out;*/
    /*transition: height 0.35s ease-in-out;*/
/*}*/

/*.faq-tab-container .title {*/
    /*z-index: 10;*/
/*}*/

/*.faq-tab-container .ui.styled.accordion .content.active {*/
    /*opacity: 1;*/
    /*height: auto;*/
    /*min-height: 50px;*/
    /*padding: 20px 15px;*/
/*}*/

.faq-tab-container .title.active:before {
    content: "\f105";
}

.faq-tab-container .title:before {
    font-family: FontAwesome;
    content: "\f107";
    float: left;
    font-size: 20px;
    width: 15px;
    text-align: center;
    margin-top: -6px;
    margin-right: 20px;
}

.faq-tab-container .title h3 {
    font-weight: bold;
    font-family: 'Open Sans';
    font-size: 18px;
}

.faq-tab-container .title.active h3 {
    color: #e8521e;
}

.faq-tab-container .title p,
.faq-tab-container .content p {
   color: #000;
}

.faq-tab-container .ui.styled.accordion {
    background: #fff;
    width: 100%;
}

.faq-tab-container .ui.styled.accordion,
.faq-tab-container .ui.styled.accordion .accordion {
    box-shadow: none;
}

.faq-tab-container .ui.styled.accordion .title {
    border-top: none;
    border-bottom: 1px solid rgba(34,36,38,.15);
}

.faq-tab-container .ui.styled.accordion .title {
    padding: 1.3em;
}

.faq-tab-container .ui.styled.accordion div:last-child .title {
    border-bottom: none;
}

.breadcrumb-list {
    display: inline-flex;
    list-style-type: none;
    -webkit-padding-start: 0;
}

.breadcrumb-list i {
    font-size: 12px;
    color: #948d8d;
    font-weight: 600;
}


.breadcrumb-list li {
    margin-left: 5px;
}

.breadcrumb-list li:after {
    content: "/"
}

.breadcrumb-list li:last-child:after {
    content: "";
}

.hero-row {
    display: flex;
    flex-direction: row;
}

.hero-column {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
}

.hero-column.horizontal-align {
    align-items: center;
}

.hero-column.vertical-align {
    justify-content: center;
}

.hero-column.justified {
    align-items: center;
    justify-content: center;
}

.hero-col-1 {
    width: 8.333333%;
}

.hero-col-2 {
    width: 16.666666%;
}

.hero-col-3 {
    width: 24.9999%;
}

.hero-col-4 {
    width: 33.33333%;
}

.hero-col-5 {
    width: 41.6666%;
}

.hero-col-6 {
    width: 50%;
}

.hero-col-7 {
    width: 58.33333%;
}

.hero-col-8 {
    width: 66.6666%;
}

.hero-col-9 {
    width: 75%;
}

.hero-col-10 {
    width: 83.3333%;
}

.hero-col-11 {
    width: 91.6666%;
}

.hero-col-12 {
    width: 100%;
}

.hero-col-offset-1 {
    margin-left: 8.333333%;
}

@media screen and (max-width: 1192px) {
    .tab-item-content {
        margin-left: 0;
        margin-top: 25px;
    }

    .tab {
        float: none;
        margin: 0 auto;
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    .tab,
    .tab-item {
        width: 280px;
    }
}


@media (min-width: 1200px) {
    .container {
        width: 1260px;
        max-width: 100%;
    }
}

@media screen and (max-width: 1536px)
{
    .hero-offset-2 {
        margin-left: 0;
    }

    .hero-inner-container {
        width: 100vw;
        margin-left: 0;
        margin-right: 0;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 1231px)
{
    .item-hero {
        display: none;
    }

    .subheader {
        margin-top: -5px;
    }
}

@media screen and (max-width: 992px) {
    .collapse {
        display: block;
    }

    .images.chi-siamo {
        display: block;
    }

    .images.chi-siamo div {
        width: 100%;
    }

    .contact-container {
        flex-direction: column-reverse;
    }

    .contact-container .hero-col-6 {
        width: 100%;
    }

    .contact-information {
        background: #ecf1f5;
        margin-top: -15px;
    }

    .contact-form h3, .contact-information h3 {
        font-size: 20px;
        margin: 25px 0 50px;
    }

    .contact-form p, .contact-information p,
    .hr-hero2,
    .social-links {
        display: none;
    }

    .contact-submit {
        margin: 0 auto;
    }

    .contact-container .hero-column {
        padding: 15px 20px 15px 20px;
    }

    .hero-inner-container.contact {
        padding: 0;
    }

    .contact + div>.footer-content {
        display: none;
    }

    .faq + .footer-content {
        display: none;
    }
}

@media screen and (max-width: 1575px) {
    .subheader-content {
        left: 5%;
    }

    .subheader-content h3 {
        font-size: 60px;
        line-height: 60px;
    }
}

@media screen and (max-width: 750px) {
    .subheader {
        background: #fff url(../images/bg-image-mobile.jpg) no-repeat;
    }

    .subheader-content h3 {
        font-size: 45px;
        line-height: 60px;
    }
}

@media screen and (max-width: 1200px) {
    .search-services {
        border: none;
        border-bottom: 2px solid rgba(158, 158, 158, 0.5);
        padding: 1px 10px 6px 69px;
        background: url(../images/cerca.png) no-repeat 7px 7px;
        width: 100%;
        font-size: 16px;
        flex-grow: unset;
    }

    .chi-siamo-wrapper {
        display: block;
    }

    .banner-chi-siamo {
        margin: 0 auto;
    }

    .chi-siamo-wrapper .description {
        padding-left: 0;
        padding-top: 30px;
        width: 100%;
    }

    .left-image {
        padding-top: 0;
        padding-left: 0;
    }

    .information-tab {
        margin-left: -50px;
        margin-right: -50px;
    }
}

@media screen and (max-width: 768px) {
    .information-tab.wide,
    .main-breadcrumb,
    .banner-chi-siamo {
        display: none;
    }

    .chi-siamo-wrapper .description {
        width: 100%;
    }

    .breadcrumb-container {
        padding: 30px 3%;
    }

    .information-tab-mobile {
        display: block;
    }

    .footer-icons {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .search-services {
        font-size: 15px;
    }

    .information-tab {
        margin-left: 15px;
        margin-right: 15px;
    }

    .left-image {
        height: 18%;
        margin-top: -20px;
    }

    .tab-heading {
        font-size: 22px;
    }

    .tab-description {
        font-size: 14px;
        line-height: 26px;
        margin-top: -30px;
    }

    .footer-content h2 {
        font-size: 24px;
    }

    .footer-content p {
        font-size: 16px;
        text-align: justify;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .image.chi-siamo {
        margin-left: -140px;
        margin-right: -140px;
    }

    .details-button {
        margin-top: 20px;
    }
}

@media screen and (max-width: 500px) {
    .row1-1,
    .row1-3,
    .row2-1,
    .row2-3 {
        padding: 30px 35px;
    }
}

@media (max-width: 1200px) {
    .footer-content .col-md-6,
    .footer-content .col-md-3 {
        -webkit-box-flex: 0;
         -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
         flex: 0 0 100%;
         max-width: 100%;
    }
}

@media screen and (max-width: 1300px) {
    .row1-1 p, .row1-3 p, .row2-1 p, .row2-3 p {
        font-size: 16px;
    }

    .row1-1 h2, .row1-3 h2, .row2-1 h2, .row2-3 h2 {
        font-size: 24px;
    }
}

@media screen and (min-width: 1301px) and (max-width: 1500px) {


    .row1-1 p, .row1-3 p, .row2-1 p, .row2-3 p {
        font-size: 18px;
    }

    .row1-1 h2, .row1-3 h2, .row2-1 h2, .row2-3 h2 {
        font-size: 26px;
    }
}